/*
body, html, form{
    height: 100%;
}

body{
    font-family: Inter, sans-serif;
    margin: auto;
    display: flex;
    flex-direction: column;
}

form{
    background-color: #292929;
    color: #ffa31a;
    display: flex;
    flex-direction: column;
}

.brand{
    font-style: italic;
    margin-top: 0;
    font-size: 500%;
    background-color: #1b1b1b;
    text-align: center;
    vertical-align: middle;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

label{
    font-size: 200%;
}

.input_form{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 25%;
}

.form-control{
    font-size: 1.5em;
    height: 2em;
    color: white;
    border-color: #ffa31a;
    background-color: #292929;
    border-radius: 15px;
    margin-bottom: 20px;
}

.btn{
    height: 2em;
    width: 75%;
    margin-left: 10%;
    font-size: 250%;
    border-color: #292929;
    background-color: #ffa31a;
    border-radius: 20px;
    margin-top: 20px;
}


*/

* {
    --brand-text-color: #FC9A1C;
    --brand-text-color-lighter: #FFA126;
    --brand-bg-color: #272727;
    --brand-bg-color-lighter: #303030;
    --brand-bg-color-darker: #1F1F1F;
}

body {
    background-color: var(--brand-bg-color);
    color: var(--brand-text-color);
}

nav {
    background-color: var(--brand-bg-color-darker);
    color: var(--brand-text-color);
}

.container-xs {
    max-width: 24rem;
}

.text-color-brand {
    color: var(--brand-text-color);
}

.text-color-brand:hover {
    color: var(--brand-text-color-lighter);
}

.text-color-accent {
    color: var(--brand-bg-color);
}

.bg-color-brand {
    background-color: var(--brand-text-color);
    border-color: var(--brand-text-color);
}
