<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link
            rel="icon"
            href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>"
    >
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>

<div class="mx-auto flex flex-col w-full min-h-screen">
    <nav class="bg-eerie-black border-gray-200">
        <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
            <a href="/" class="flex items-center space-x-3">
                <img src="/img/logo.png" class="h-8" alt="Cui'inov Logo"/>
                <span class="self-center text-orange-peel text-2xl font-semibold whitespace-nowrap">CUIS'INOV</span>
            </a>
            <div class="flex md:order-2">
                <button
                        type="button" data-collapse-toggle="navbar-search" aria-controls="navbar-search"
                        aria-expanded="false"
                        class="md:hidden text-gray p-2.5 me-1"
                >
                    <svg
                            class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 20 20"
                    >
                        <path
                                stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
                        />
                    </svg>
                </button>

                <div class="relative hidden md:block">
                    {% include 'navbar/search.html.twig' %}
                </div>

                {% if is_granted('IS_AUTHENTICATED') %}
                    <a
                            href="#"
                            class="flex items-center md:ml-3 text-raisin-black bg-orange-peel hover:bg-orange-peel/90 font-medium rounded-full text-sm px-2.5 py-2 text-center cursor-pointer"
                    >
                        <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 18">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 8a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm-2 3h4a4 4 0 0 1 4 4v2H1v-2a4 4 0 0 1 4-4Z"/>
                        </svg>
                    </a>
                {% else %}
                    <a
                            href="{{ path('app_login') }}"
                            class="flex items-center md:ml-3 text-raisin-black bg-orange-peel hover:bg-orange-peel/90 font-medium rounded-full text-sm px-2.5 py-2 text-center cursor-pointer"
                    >
                        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 18">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 8a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm-2 3h4a4 4 0 0 1 4 4v2H1v-2a4 4 0 0 1 4-4Z"/>
                        </svg>
                    </a>
                {% endif %}
            </div>

            <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-search">
                <div class="relative mt-3 md:hidden">
                    {% include 'navbar/search.html.twig' %}
                </div>
            </div>
        </div>
    </nav>
    <main class="grow flex justify-center items-center bg-raisin-black">

        {% block body %}{% endblock %}

    </main>
</div>


</body>

</html>

