{% extends 'base.html.twig' %}

{% block title %}Vos Favoris!{% endblock %}

{% block body %}
<h1>Vos Favoris :</h1>
<div class="list-recipes">
    <ul class="favs">
    {% for fav in favoris %}
        <li class="recipe-item" style="display: flex">
            <a class="redirect" href="main.html">
                <div class="details-recipe" style="display: flex">
                    <img src="https://assets.afcdn.com/recipe/20220126/128053_s280cxt0cyt0cxb1732cyb1732.jpg">
                    <span>Title</span>
                    <span>Rating</span>
                    <div class="prep-diff">
                        <span>PrepTime</span>|<span>Difficulty</span>
                    </div>
                </div>
            </a>
        </li>
    {% endfor %}
    </ul>
</div>
{% endblock %}
